body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #121920;
    font-family: 'Arial', sans-serif;
    color: #ecf0f1;
}

a {
    gap: 20px;
    text-decoration: none;
    color: rgb(236, 209, 56);
    padding: 20px 30px;
}

.container {
    background: #202f3d;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 400px;
    text-align: center;
}
